CplusApp/.vs/CplusApp/v15/Browse.VC.db
CplusApp/.vs/CplusApp/v15/Browse.VC.opendb
CplusApp/.vs/CplusApp/v15/Solution.VC.db
CplusApp/.vs/CplusApp/v15/Solution.VC.db-shm
CplusApp/.vs/CplusApp/v15/Solution.VC.db-wal
CplusApp/.vs/CplusApp/v15/ipch/AutoPCH/11eccff2b1e82097/BANKACCOUNTMANAGER.ipch
CplusApp/.vs/CplusApp/v15/.suo
CplusApp/.vs/CplusApp/v15/ipch/AutoPCH/6d54c9d381e55ff4/CLASSBASE.ipch
CplusApp/.vs/CplusApp/v15/ipch/AutoPCH/9513bdaf5aaa11b2/BASE.ipch
CplusApp/ClassBasic/x64/Debug/Base.obj
CplusApp/ClassBasic/x64/Debug/ClassBase.obj
CplusApp/ClassBasic/x64/Debug/ClassBasic.log
CplusApp/ClassBasic/x64/Debug/vc141.idb
CplusApp/ClassBasic/x64/Debug/vc141.pdb
CplusApp/ClassBasic/x64/Debug/ClassBasic.tlog/CL.command.1.tlog
CplusApp/ClassBasic/x64/Debug/ClassBasic.tlog/CL.read.1.tlog
CplusApp/ClassBasic/x64/Debug/ClassBasic.tlog/CL.write.1.tlog
CplusApp/ClassBasic/x64/Debug/ClassBasic.tlog/ClassBasic.lastbuildstate
CplusApp/ClassBasic/x64/Debug/ClassBasic.tlog/link.command.1.tlog
CplusApp/ClassBasic/x64/Debug/ClassBasic.tlog/link.read.1.tlog
CplusApp/ClassBasic/x64/Debug/ClassBasic.tlog/link.write.1.tlog
CplusApp/x64/Debug/ClassBasic.exe
CplusApp/x64/Debug/ClassBasic.ilk
CplusApp/x64/Debug/ClassBasic.pdb
CplusApp/.vs/CplusApp/v15/ipch/AutoPCH/e2a57783dd13979b/CPLUS.ipch
